/* This file is for your main application css. */

@import "./phoenix.css";

.inline-form {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 0.5em;
}

.button-small {
  padding: 0 0.5em;
  height: 3rem;
  line-height: 3rem;
}
